target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
# https://github.com/takari/maven-wrapper#usage-without-binary-jar
.mvn/wrapper/maven-wrapper.jar
.idea/compiler.xml
.idea/$PRODUCT_WORKSPACE_FILE$
.idea/misc.xml
.idea/workspace.xml
.idea/vcs.xml
.idea/Ass1.iml
sample.pdf
Starbucks_Recommendations_July2019.pdf
testRequest.txt
.idea/uiDesigner.xml
.idea/dictionaries/Omer.xml
H4C_Passover_Seder.pdf
haggadah_e.pdf
haggadah_e.png
result.txt
